<?php
$e = $entry;
?>
<!-- Entry -->
<div class="postContent<?php if ($e['is_quickpost']) echo ' mbqp-'.$e['quickpost_type']; ?>" id="post-<?php echo $e['id']; ?>">
	
	<!-- Display onBeforeDisplayContent mambots -->
	<?php
		if(isset($entry['beforeContent']) && $entry['beforeContent'])
		{
			echo $entry['beforeContent'];
		}
	?>
	<!-- End display -->
	
	<h3 class="componentheading mbTitle"><a href="<?php echo $e['permalink']; ?>"><?php echo $e['title']; ?></a></h3>
	
	<div class="mbEntryWrap">
	
		<div class="mbEntrySidebar">
			<?php if(!empty($e['avatar'])) { ?>
				<div class="mbAvatar">
					<?php echo $e['avatar']; ?>
				</div>
			<?php	}	?>
			<div class="mbSocial">
				<?php echo $fbShare?myFbShare($e['permalink']).'<br /><br />':'' ?>
				<?php echo $googleShare?myGooglePlusShare($e['permalink']).'<br /><br />':''?>
				<?php echo $twitterShare?myTweetShare($e['permalink']):''?>
			</div>
		</div>

		<div class="mbEntryContainer">
			<div class="mbMetaWrap">
			
				<?php if ($enablePrintLink || $enablePdfLink) { ?>
					<div class="mbMetaIcons">
						<?php
							if($enablePrintLink)
							{
								echo myGetPrintLink($entry['id'],myGetItemId());
							}
							echo '&nbsp;';

							if($enablePdfLink)
							{
								echo myGetPDFLink($entry['id'],myGetItemId());
							}
						?>
					</div>
				<?php } ?>
		
			
				<div class="postSummary-meta">
					<a href="<?php echo $e['authorLink']; ?>" title="<?php echo JText::_('COM_MY_VIEW_ALL_POSTS_BY');?>" class="author-link"><?php echo $e['author']; ?></a>
					<?php if( $categoryDisplay ) {
						echo JText::sprintf('COM_MY_POSTED_IN' , $e['jcategory'] );
					}
					?>
					<?php echo JText::sprintf('COM_MY_POSTED_ON', $e['createdFormatted']); ?>
					<?php
						if($entry['created_by'] == $userId)
						{
							echo ' &middot; '.$e['editLink'];
						}
					?>
					<br />
					<?php echo JText::sprintf('COM_MY_TAGGED_IN' , $e['categories'] ); ?>
				</div>
		
			</div>
		
			<div class="clear"></div>
		
			<!-- Post Content -->
			<div class="postContent-text">
				<article> <!-- enable Safari Reader compatiblity -->
				<?php echo $e['text']; ?>
				</article> <!-- enable Safari Reader compatiblity -->
				<div class="clear"></div>
			</div>
			<!-- end Post Text -->
			
			
			<div class="postComments">
				<a name="comments"></a>
				<?php echo $entry['comments']; ?>
				<div class="clear"></div>
			</div>
		
		</div>

	</div>

		<div class="clear"></div>
	</div>

	
		
		
		<!-- Display onAfterDisplayContent mambots -->
		<?php
			if(isset($entry['afterContent']) && $entry['afterContent']){
				echo $entry['afterContent'];
			}
		?>
		<!-- End display -->
	
</div>
<div class="clear"></div>
