<!-- Blog Entries Start -->
<div id="myBlog-content">
<?php
if ($entry and is_array($entry) and count($entry) != 0)
{
	foreach ($entry as $e)
	{
?>

	<!-- Start ERICA Single post wrap -->
	
	<div class="mbPost<?php if ($e['is_quickpost']) echo ' mbqp-'.$e['quickpost_type']; ?>" id="post-<?php echo $e['id']; ?>">
		
		<?php if ( $e['title'] && $e['quickpost_type'] != 'quote'  && $e['quickpost_type'] != 'photo' && $e['quickpost_type'] != 'video' ) { ?>		
			<div class="mbPostTitle">
				<h3 class="mbHeader"><a href="<?php echo $e['permalink']; ?>"><?php echo $e['title']; ?></a></h3>
			</div>
		<?php } ?>
		
		
		<div class="mbPostContent">
			<?php echo $e['text']; ?>
			
			<?php if ( $e['quickpost_type'] == 'quote' ) { ?>
				<div class="mbqp-quote-author">&#8212; <?php echo $e['title']; ?></div>
			<?php } ?>
			
			<!-- Start: Read More -->
			<?php if ($e['readmore']=="1") { ?>
				<div class="mbPostReadMore">
					<a href="<?php echo $e['permalink']; ?><?php echo $showAnchor; ?>" class="postSummary-readmore"><?php echo JText::_('COM_MY_READMORE');?></a>
				</div>
				<div class="clear"></div>
			<?php } ?>
			<!-- End: Read More -->
			
			<div class="mbPostTip" style="left: <?php echo ($avatar_w/2) + 5; ?>px;">&nbsp;</div>

			
		</div>
		
		<div class="mbPostMeta">
			
			<?php if(!empty($e['avatar'])) { ?>
				<div class="userAvatar">
					<?php echo $e['avatar']; ?>
				</div>
				<div class="mbPostMetaContent" style="margin-left: <?php echo $avatar_w + 15; ?>px; min-height: <?php echo $avatar_h; ?>px">
			<?php	} else { ?>
				<div class="mbPostMetaContent mbNoAvatar">
			<?php } ?>
					<!-- Start: Comment Count -->
					<?php if (isset($e['comments']) && $e['comments']!="") { ?>
						<div class="mbPostComment">
							<a href="<?php echo $e['permalink']; ?>#comments" class="postSummary-comments"><?php echo $e['comments']; ?></a>
						</div>
					<?php } ?>
					<!-- End: Comment Count -->
			
					<a href="<?php echo $e['authorLink']; ?>" title="<?php echo JText::_('COM_MY_VIEW_ALL_POSTS_BY');?>" class="author-link"><?php echo $e['author']; ?></a>
					<?php echo JText::sprintf('COM_MY_POSTED_ON', $e['createdFormatted']); ?>
					<?php if( $categoryDisplay ) echo JText::sprintf('COM_MY_POSTED_IN' , $e['jcategory'] ); ?>
					<?php if (myGetTags($e['id'])) { ?>
						<div class="mbTagsContent">
							<div class="mbTagsIcon">&nbsp;</div>
							<?php echo str_replace(',','',$e['categories']); ?>
							<div class="clear"></div>
						</div>
					<?php } ?>
					
					
					
				</div>
			
			
			
			
			<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
	</div>

	<!-- End ERICA Single post wrap -->
<?php
	}
}
else
{
?>
	<div class="mbPost"><?php echo JText::_('COM_MY_NO_BLOG_ENTRY_CREATED');?></div>
<?php
}
?>
</div>
